

  <div *ngIf="!loading">
  <div class="right-invoice">
    <section id="memo">
      <div class="company-info">
        <div class="row">
          <div class="col">
              <mat-form-field>
                  <mat-label>Sender</mat-label>
                  <mat-select (selectionChange)="selectSender($event)">
                    <mat-option *ngFor="let row of userList" [value]="row">
                      {{row.company.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
          </div>
        </div>
        <div> {{invoice.sender.name}} </div>
        <br>
        <span> {{invoice.sender.address.address1}} </span>
        <br>
        <span> {{invoice.sender.address.city}}, {{invoice.sender.address.postalCode}} </span>
        <span *ngIf="invoice.sender.address.city"> ,{{invoice.sender.address.state}} </span>
        <br>
        <span>{{invoice.sender.address.country}}</span>
        
      </div>

      <div class="logo">
          <img alt="Member Logo" class="member-logo ng-star-inserted" src="http://www.swapstech.com/images/Header/logo.png">
      </div>
    </section>

    <section id="invoice-title-number">

      <div class="title-top">
        <span> 
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Issue Date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>  
        </span> 
      </div>
    
      <div id="title"> INVOICE <small>- 4568</small> </div>
      
    </section>

    <section id="client-info">
      <div class="client-name">
        <span> 
            <mat-form-field>
                <mat-label>Receiver</mat-label>
                <mat-select (selectionChange)="selectReceiver($event)">
                  <mat-option *ngFor="let row of userList" [value]="row">
                    {{row.company.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>  
        </span>
      </div>
      
      <div>
        <span> {{invoice.receiver.name}} </span>
      </div>
      <div>
        <span> {{invoice.receiver.address.address1}} </span>
      </div>
      <div>
        <span> {{invoice.receiver.address.city}}, {{invoice.receiver.address.postalCode}}, {{invoice.receiver.address.state}} </span>
      </div>
      <div>
        <span> {{invoice.receiver.address.country}} </span>
      </div>
    </section>
    
    <div class="clearfix"></div>
    
    <section id="invoice-info">
      <div>
        <span> net_term_label </span> <span> net_term </span>
      </div>
      <div>
        <span> due_date_label </span> <span> due_date </span>
      </div>
      <div>
        <span> po_number_label </span> <span> po_number </span>
      </div>
    </section>
    
    <div class="clearfix"></div>

    <div class="currency">
      <span> currency_label </span> <span> currency </span>
    </div>
    
    <section id="items">
      
      <table cellpadding="0" cellspacing="0">
      
        <tr>
          <th> # </th>
          <th> Description </th>
          <th> Quantity </th>
          <th> Price </th>
          <th> Discount </th>
          <th> Tax </th>
          <th> Item Total </th>
          <th> Action </th>
        </tr>
        <tr data-iterate="item">
            <td> </td> 
            <td> <!-- DESCRIPTION -->
              <mat-form-field>
                <input matInput placeholder="Description">
              </mat-form-field>  
            </td>
            <td> <!-- QUANTITY -->
              <mat-form-field>
                <input matInput placeholder="Quantity">
              </mat-form-field>  
            </td>
            <td><!-- PRICE -->
              <mat-form-field>
                <input matInput placeholder="Price">
              </mat-form-field>  
            </td>
            <td><!-- Discount -->
              <mat-form-field>
                  <input matInput placeholder="Discount">
              </mat-form-field>  
            </td>
            <td><!-- Tax -->
              <mat-form-field>
                <input matInput placeholder="Tax">
              </mat-form-field>  
            </td>
            <td> 
              <mat-form-field>
                <input matInput placeholder="Totol" disabled>
              </mat-form-field>    
            </td>
            <td>
              <input type="button" class="btn btn-sm btn-primary" value="Save">
            </td>
          </tr>
        <tr data-iterate="item">
          <td> 1 </td> 
          <td> item_description </td>
          <td> item_quantity </td>
          <td> item_price </td>
          <td> item_discount </td>
          <td> item_tax </td>
          <td> item_line_total </td>
          <td></td>
        </tr>
        
      </table>
      
    </section>
    
    <section id="sums">
    
      <table cellpadding="0" cellspacing="0">
        <tr>
          <th> amount_subtotal_label </th>
          <td> amount_subtotal </td>
        </tr>
        
        <tr data-iterate="tax">
          <th> tax_name </th>
          <td> tax_value </td>
        </tr>
        
        <tr class="amount-total">
          <!--  amount_total_label  -->
          <td colspan="2"> amount_total </td>
        </tr>
        
        <!-- You can use attribute data-hide-on-quote="true" to hide specific information on quotes.
             For example Invoicebus doesn't need amount paid and amount due on quotes  -->
        <tr data-hide-on-quote="true">
          <th> amount_paid_label </th>
          <td> amount_paid </td>
        </tr>
        
        <tr data-hide-on-quote="true" class="due-amount">
          <th> amount_due_label </th>
          <td> amount_due </td>
        </tr>
        
      </table>
      
    </section>
    
    <div class="clearfix"></div>
    
    <section id="terms">
    
      <span> terms_label </span>
      <div> terms </div>
      
    </section>

    <div class="payment-info">
      <div> payment_info1 </div>
      <div> payment_info2 </div>
      <div> payment_info3 </div>
      <div> payment_info4 </div>
      <div> payment_info5 </div>
    </div>
  </div>
</div>