.login-container{
    position: absolute;
    .card{
        .card-header{
            width: 100%;
            height: 100%;
            margin: 0 auto;
            margin-top: -40px;
            font-size: 36px;
        }
    }
}


#login-box{
    padding: 3em 2em 0 2em;
    border:2px solid #efefef;
}

#login-icon{
    background-color: #565656;
}

#login-icon img{
    object-fit: scale-down;
    height: 100%;
    width: 100%;
}

#login-btn{
    background-color: #2f3e9e;
    color: #efefef;
}
#login-btn:hover{
    background-color:#4155d0;
}