
.add-new-account-div{
    padding:5px;
    background-color: #fff;
}

.add-employee-div{
    border: 1px solid #565656;
    padding: 10px;
    margin: -24px -24px 20px -24px;
    background-color: #565656;
    color: #efefef;
    font: normal normal normal 20px/1 FontAwesome;
}

.background-fff{
    background-color:#fff;
}

.lbl{
    margin-top: 7px;
    margin-left: 17px;
}