<mat-card class="mt-3">
    <mat-card-title> Receivables</mat-card-title>
    <div class="input-group mt-3">
        <span class="input-group-prepend">
            <span class="input-group-text">
                <i class="fa fa-search"></i>
            </span>
        </span>
        <input class="form-control" type="text" (keyup)="updateFilter($event)" placeholder="Search Invoice Ref / Buyer Id" />

    </div>
    <ngx-datatable class="material mt-2" [rows]="rows" 
    [columns]="columns" [columnMode]="'force'"  [limit]="10"
        [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'">
    </ngx-datatable>
    <ng-template #editpayment let-row="row" let-value="value">
        <i class="fa fa-pencil text-primary cursor-pointer"></i>
    </ng-template>
</mat-card>