
    <div class="col-md-8 offset-md-2">
        <div class="card border-0 box-shadow rounded-0">
            <div class="card-header d-flex justify-content-center align-items-center border-0 box-shadow"
            style="background: #565656;color: white;">
                Register Account
            </div>
            <div class="card-body text-center pb-1 brd">
                <form class="form-horizontal" #form="ngForm" novalidate name="form">
               

                    <div class="row">
                        <div class="col-6">
                            <mat-form-field>
                                <input placeholder="Bank Name"  name="bankName"
                                    matInput
                                    required
                                    [(ngModel)]="userPmtAccount.bankName"> 
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field>
                                <input placeholder="Account name"  name="accountName"
                                    matInput
                                    required
                                    [(ngModel)]="userPmtAccount.accountName"> 
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field>
                                <input placeholder="Account Number" required name="accountNumber"
                                    matInput
                                    [(ngModel)]="userPmtAccount.accountNumber"> 
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field>
                                <input placeholder="Account Type" required name="accountType"
                                    matInput
                                    [(ngModel)]="userPmtAccount.accountType"> 
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field>
                                <input placeholder="Routing Number" required name="routingNumber"
                                    matInput
                                    [(ngModel)]="userPmtAccount.routingNumber"> 
                            </mat-form-field>
                        </div>
                    </div>

              
            
                <!-- Register Button -->
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary" (click)="registerAccount(form)">Register</button>
                    </div>
                </div>
            </form>
                <br>
            </div>
            <br><br>
<br><br>
        </div>
    </div>

