
<div>
    <div class="row box-shadow">
        <div class="col text-right add-new-btn-div">
            <button type="button" class="btn btn-primary mb-1 mr-1" routerLink="../new/customer">Add new Customer</button>
        </div>
    </div>
    <div class="row box-shadow">
        <div class="col-12 add-new-btn-div">
            <table class="table">
                <tr>
                    <th>Customer Name</th>
                    <th>Address</th>
                    <th>Country</th>
                    <th>Currency</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>ABC Corporation</td>
                    <td>9335 Harris Corner prkw</td>
                    <td>USA</td>
                    <td>USD</td>
                    <td>Active</td>
                    <td>
                        <a class="cust-edit-btn"><i aria-hidden="true" class="fa fa-edit"></i></a>
                        <a class="cust-delete-btn"><i aria-hidden="true" class="fa fa-trash"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>XYZ Corporation</td>
                    <td>Campus Walk Ln </td>
                    <td>USA</td>
                    <td>USD</td>
                    <td>Pending</td>
                    <td>
                        <a class="cust-edit-btn"><i aria-hidden="true" class="fa fa-edit"></i></a>
                        <a class="cust-delete-btn"><i aria-hidden="true" class="fa fa-trash"></i></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>