<mat-card>
  <div class="row">

    <div class="ml-5 col-md-5 mat-card" style="background: aliceblue;">
      Sender
      <h4 class="text-primary" style="font-weight: bold;text-transform: uppercase;">
        {{currentUser.firstName}} {{currentUser.lastName}}</h4>
      <ng-select [items]="userPmtAccountList" [multiple]="false" [clearable]="false" bindLabel="upaCD" bindValue="userId" (change)="selectSender($event)"
        placeholder="Search Sender UPA">
      </ng-select>
      <!--  <mat-form-field >
              <mat-label>Sender</mat-label>
              <input type="text" [(ngModel)]= "invoiceMaster.sellerUserId" required matInput disabled/> 
            </mat-form-field>  -->
      <div class="text-brown"> {{currentUser.address.address1}} </div>
      <div class="text-brown"> {{currentUser.address.city}}, {{currentUser.address.postalCode}} </div>
      <div class="text-brown"> {{currentUser.address.state}} </div>
      <div class="text-brown">{{currentUser.address.country}}</div>

    </div>

    <div class="col-md-5 offset-md-1 mat-card" style="background: aliceblue">

      <ng-select [items]="receiverPmtAccountList" [multiple]="false" [clearable]="false" bindLabel="upaCD" bindValue="userId" (change)="selectReceiver($event)"
        placeholder="Search Receiver UPA">
      </ng-select>

      <h4 class="text-primary" style="font-weight: bold;text-transform: uppercase;">
        {{receiver.firstName}} {{receiver.lastName}}</h4>
      <div class="text-brown"> {{receiver.address.address1}} </div>
      <div class="text-brown"> {{receiver.address.city}}, {{receiver.address.postalCode}} </div>
      <div class="text-brown"> {{receiver.address.state}} </div>
      <div class="text-brown">{{receiver.address.country}}</div>


    </div>


  </div>


  <div class="row mt-2">
    <div class="col-md-4">
      <mat-form-field>
        <input required (dateInput)="calculateDueDate()" [(ngModel)]="invoiceMaster.inventoryDueDateTime" matInput [matDatepicker]="picker"
          placeholder="Due Date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field>
        <input required [(ngModel)]="invoiceMaster.poNumber" matInput placeholder="PO Number">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field>
        <mat-label>Invoice Template</mat-label>
        <mat-select>
          <mat-option value="inv_template_2019_1">inv_template_2019_1</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>


  <div class="clearfix"></div>
    
    <section id="invoice-info">
     <!-- <div>
        <span> net_term_label </span> <span> net_term </span>
      </div>
    <div>
        <span> due_date_label </span> <span> {{dueDate}} </span>
      </div>
      <div>
        <span> po_number_label </span> <span> 101 </span>
      </div> -->
      
    </section> 
    
    <div class="clearfix"></div>

    <!--<div class="currency">
      <span> Currency </span> <span> USD </span>
    </div> -->
    
    
    <section id="items">
      <table class="table table-striped table-responsive">          
        <tr>
        <!--  <th> # </th> -->
          <th> Item Name </th>
          <th> Description </th>
          <th> Quantity </th>
          <th> Price </th>
          <th> Item Total </th>
          <th> Action </th>
        </tr>
        <tr data-iterate="item">
         <!--   <td> </td> -->
            <td> <!-- Name -->
              <mat-form-field>
                <input matInput placeholder="Product Name" 
                [(ngModel)]="invoiceRow.productName">
              </mat-form-field>  
            </td>
            <td> <!-- DESCRIPTION -->
              <mat-form-field>
                <input matInput placeholder="Product Desc" 
                [(ngModel)]="invoiceRow.productDesc">
              </mat-form-field>  
            </td>
            <td> <!-- QUANTITY -->
              <mat-form-field>
                <input matInput type="number" placeholder="Quantity" 
                [(ngModel)]="invoiceRow.productQty">
              </mat-form-field>  
            </td>
            <td><!-- PRICE -->
              <mat-form-field>
                <input matInput type="number" placeholder="Price" 
                [(ngModel)]="invoiceRow.unitPrice">
              </mat-form-field>  
            </td>
            <td> 
              <mat-form-field>
                <input matInput placeholder="Total"  [(ngModel)]="invoiceRow.totalAmount" disabled>
              </mat-form-field>    
            </td>
            <td>
              <button title="Add" (click)="addTableRow()" class="btn btn-primary pull-right mr-2">
                <i class="fa fa-plus" style="font-size:18px;"></i>
              </button>
            </td>
          </tr>
        <tr *ngFor="let row of invoiceTable; let i = index">
     <!--     <td>{{ i+1 }} </td> -->
          <td>{{row.productName}}</td>
          <td> {{row.productDesc}} </td>
          <td> {{row.productQty}} </td>
          <td> {{row.unitPrice}} </td>
          <td> {{row.totalAmount | currency:'USD'}} </td>
          <td><button title="Cancel" (click)="removeTableRow(row)" class="btn btn-danger pull-right mr-2">
            <i class="fa fa-trash" style="font-size:18px;"></i>
          </button></td>
        </tr>       
      </table>
    </section>
    <!--<button title="Cancel"  class="btn btn-danger pull-right mr-2">
            <i class="fa fa-trash" style="font-size:18px;"></i>
          </button> -->  
    
    
    <section id="sums">
    
      <table cellpadding="0" cellspacing="0">
       
        <tr class="amount-total">

          <td colspan="2"> {{amountSubTotal | currency:'USD'}} </td>
        </tr>
        
  
        
      </table>
      <button type="button"  (click)="sendInvoice()"
      class="mt-2 btn btn-success mb-1 mr-1">Submit Invoice</button>
    </section>
    
    <div class="clearfix"></div>
    
 
</mat-card>