.register-container{
    position: absolute;
    margin-top:80px;
    .card{
        .card-header{
            width: 100%;
            height: 100%;
            background-color:#285881;
        }
    }
}

.brd{
    border:2px solid #efefef;
}